.group-details-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn-back {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 8px;
}

.tabs button.active {
    background: #117eba;
    color: white;
}

.chat-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f9f9f9;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #eee;
    align-self: flex-start;
}

.message.my-message {
    align-self: flex-end;
    background: #e3f2fd;
    border: none;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.85rem;
    color: #555;
    gap: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ddd;
    gap: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.chat-input button {
    padding: 10px 20px;
    background: #117eba;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}