.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    padding: 20px;
}


.login-card {
    background: var(--white);
    width: 100%;
    max-width: 450px;
    padding: 50px 40px;
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideUp 0.6s ease-out;
}

.login-header {
    margin-bottom: 40px;

    img {
        width: 100px;
        transform: rotate(-140deg);
    }

    h1 {
        font-weight: 800;
        color: var(--text-dark);
        font-size: 2rem;

        span {
            color: var(--primary-color);
        }
    }

    p {
        color: var(--text-muted);
        font-weight: 500;
    }
}

.form-group {
    text-align: left;
    margin-bottom: 20px;

    label {
        display: block;
        font-weight: 700;
        margin-bottom: 8px;
        margin-left: 5px;
        font-size: 0.9rem;
    }

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        i {
            position: absolute;
            left: 15px;
            color: var(--primary-color);
        }

        input {
            width: 100%;
            padding: 15px 15px 15px 45px;
            border-radius: 18px;
            border: 2px solid #f0f0f0;
            background: #f9f9f9;
            font-family: inherit;
            font-weight: 500;
            transition: all 0.3s;

            &:focus {
                outline: none;
                border-color: var(--primary-color);
                background: white;
                box-shadow: 0 5px 15px rgba(17, 126, 189, 0.1);
            }
        }
    }
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 0.85rem;
    font-weight: 600;

    .forgot-link {
        color: var(--primary-color);
        text-decoration: none;
    }
}

.btn-login {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    border: none;
    background: var(--active-gradient);
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(17, 126, 189, 0.2);
    transition: all 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 15px 25px rgba(17, 126, 189, 0.3);
    }
}

.login-footer {
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 500;

    a {
        color: var(--primary-color);
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
#google-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}